<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
    {% extends "base.html" %}

</head>

<body>
{% block title %}Book Appointment{% endblock %}

{% block content %}
<div class="container" id="home" style="text-align: left;">
        <div class="fusion-div">
            <div class="container title-div" style="background-color: #526d82;">
                <h1>Book Appointment</h1>
            </div>
        </div>
        <form method="POST" action="{{ url_for('book_appointment') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label class="form-label" for="name">Name:</label>
                {{ form.name(class_="form-input", size=50) }}
            </div>
            <div class="form-group">
                <label class="form-label" for="contact">Contact Number:</label>
                {{ form.contact(class_="form-input", size=50) }}
            </div>
            <div class="form-group">
                <label class="form-label" for="age">Age:</label>
                {{ form.age(class_="form-input", size=50) }}
            </div>
            <div class="form-group">
                <label class="form-label" for="gender">Gender:</label>
                {{ form.gender(class_="form-input", size=50) }}
            </div>
            <div class="form-group">
                <label class="form-label" for="address">Address:</label>
                {{ form.address(class_="form-input", size=50) }}
            </div>
            {{ form.submit(class_="blue-button") }}
        </form>
    <div class="container">
            <h3 style="top-margin: 10px;"> Will call u soon :) </h3>
        </div>
    </div>
{% endblock %}
</body>
</html>