<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}Login Page{% endblock %}
{% block content %}
    <div class="container">
            <h2 style="top-margin: 10px; text-align: center; color: #27374d;">Appointment Booked !! <br> Will Contact U Soon :) Thank You ❤️</h2>
     <br>
        <a class="btn btn-primary" href="{{ url_for('index') }}">Back To Homepage</a>
        </div>
{% endblock %}
</body>
</html>